@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body

	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	height: 2000px
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

/*head*/
.classhead
	background-image: url("../img/bghead.jpg")
	padding-top: 42px
	background-size: cover
	background-position: center
.textlogo
	font-size: 30px
	font-weight: 700
	display: block
	text-align: right
.textcity
	display: block
	font-size: 20px
	text-align: right
	margin-top: -15px
.logo
	display: contents
	img
		height: 127px
		width: 127px
		margin: auto
		margin-top: 40px
		margin-bottom: 0px
.phoneblock
	display: block
	float: right
	margin-top: 0
	a
		color: #fff
		text-align: center
		display: block
		font-size: 20px
		margin-top: -15px
		text-decoration: underline
		transition-duration: 0.8s
		&:hover
			color: $accent
	.hrefphone
		color: $accent
		font-size: 30px
		font-weight: 700
		text-decoration: none
		text-align: center
		margin-top: 0
.blockmain
	margin-bottom: 30px
	ul
		line-height: 1.3
	li
		font-size: 30px
		color: #fff
		list-style: none
	h1
		margin-top: 20px
		text-align: center
		font-size: 60px
		font-weight: 700
		margin-bottom: 0px
		padding: 0
	h2
		text-align: center
		margin-top: 0
		margin-bottom: 20px
		margin-top: -23px
		font-weight: 100
		padding: 0
.accent
	color: $accent
.buttonwant
	background: $button
	font-size: 30px
	text-decoration: none
	color: #4a4545
	border-radius: 15px
	padding: 1px 20px
	text-align: center
	display: table
	margin: 0 auto
	&:hover
		text-decoration: none
		color: #000
		background: #fff
		transition-duration: 0.8s
.textpers
	text-align: center
	margin: 0 auto
	display: table
	font-size: 20px
	color: $accent
	font-style: italic
	margin: 14px auto
/*head end*/

/*sale*/
.sale
	padding-top: 40px
	h3
		font-size: 50px
		text-align: center
		color: #000
		text-transform: uppercase
	h4
		@extend h3
		text-transform: none
		font-weight: 100
		margin-top: -25px
	img
		width: 404px
		margin: 0 auto
		display: block
.time
	p
		font-size: 22px
		color: #000
		font-weight: bold
		text-align: center
.formtime
	margin-top: 60px
	background-color: $darkform
	border-radius: 15px
	padding: 30px
	width: 100%
	.t1
		font-size: 30px
		font-weight: bold
		text-transform: uppercase
		color: #ffff99
		text-align: center
	.t2
		font-size: 30px
		font-weight: bold
		color: #fff
		text-align: center
	.t3
		@extend .t1
		font-size: 50px
		color: #fff
		margin-bottom: -22px
	.t4
		font-size: 40px
		color: #ffff99
.formt
	margin-top: 20px
	input
		border-radius: 15px
		padding: 10px
		width: 100%
		margin-bottom: 15px
	.butime
		background: $button
		background-image: url("../img/send.png")
		background-position: 10px 12px
		padding-left: 80px
		background-repeat : no-repeat;
		font-size: 22px
		text-decoration: none
		color: #4a4545
		border-radius: 15px
		text-align: center
		display: table
		margin: 0 auto
		width: auto
		cursor: pointer
		margin-top: 20px
		&:hover
			text-decoration: none
			color: #000
			transition-duration: 0.8s
/*sale end*/

/*preim*/
.preim
	padding: 40px
	h3
		font-size: 30px
		text-align: center
	background-color: $darkblock
	.item
		img
			margin: auto
		p
			font-size: 22px
			font-weight: bold
	.flex
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
/*preim end*/

@import "media" // Always at the end
